<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ce.gateway.open.dao.GatewayDao">
  <select id="selectClientProductMap" parameterType="java.lang.String" resultType="java.util.Map">
    select
    client_id,product_instance_id,rate
    from diy_apply
    group by client_id,product_instance_id
  </select>
  <select id="selectPathVersionResourceMap" parameterType="java.lang.String" resultType="java.util.Map">
    select
    listen_path,version,resource_type,default_target_url
    from api_detail
    group by listen_path,version,resource_type,default_target_url
  </select>
  <select id="selectSaasResourceTargetMap" parameterType="java.lang.String" resultType="java.util.Map">
    select
    saas_id,saas.resource_type,target_url
    from saas left join diy_apply on product_instance_id = saas_id
    where saas_id is not null
    group by saas_id,saas.resource_type,target_url
  </select>
</mapper>