<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ce.services.account.dao.UserDao">
  <resultMap id="BaseResultMap" type="cn.ce.services.account.entity.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userName" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="telNumber" jdbcType="VARCHAR" property="telnumber" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="orgId" jdbcType="VARCHAR" property="orgid" />
    <result column="orgName" jdbcType="VARCHAR" property="orgname" />
    <result column="userType" jdbcType="TINYINT" property="usertype" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="state" jdbcType="TINYINT" property="state" />
    <result column="lastLoginIp" jdbcType="VARCHAR" property="lastloginip" />
    <result column="lastLoginTime" jdbcType="TIMESTAMP" property="lastlogintime" />
    <result column="regTime" jdbcType="TIMESTAMP" property="regtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, userName, password, telNumber, email, orgId, orgName,
    userType, avatar, state, lastLoginIp, lastLoginTime, regTime
  </sql>
  <select id="selectByUserName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user
    where userName = #{userName,jdbcType=VARCHAR}
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.ce.services.account.entity.User">
    insert into user (id, userName, password, 
      telNumber, email,
      orgId, orgName,
      userType, avatar, state, 
      lastLoginIp, lastLoginTime, regTime
      )
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{telnumber,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR},
      #{orgid,jdbcType=VARCHAR}, #{orgname,jdbcType=VARCHAR},
      #{usertype,jdbcType=TINYINT}, #{avatar,jdbcType=VARCHAR}, #{state,jdbcType=TINYINT}, 
      #{lastloginip,jdbcType=VARCHAR}, #{lastlogintime,jdbcType=TIMESTAMP}, #{regtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.ce.services.account.entity.User"
          keyProperty="id" useGeneratedKeys="true">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="username != null">
        userName,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="telnumber != null">
        telNumber,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="orgid != null">
        orgId,
      </if>
      <if test="orgname != null">
        orgName,
      </if>
      <if test="usertype != null">
        userType,
      </if>
      <if test="avatar != null">
        avatar,
      </if>
        state,
      <if test="lastloginip != null">
        lastLoginIp,
      </if>
      <if test="lastlogintime != null">
        lastLoginTime,
      </if>
        regTime
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="telnumber != null">
        #{telnumber,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="orgid != null">
        #{orgid,jdbcType=VARCHAR},
      </if>
      <if test="orgname != null">
        #{orgname,jdbcType=VARCHAR},
      </if>
      <if test="usertype != null">
        #{usertype,jdbcType=TINYINT},
      </if>
      <if test="avatar != null">
        #{avatar,jdbcType=VARCHAR},
      </if>
        1,
      <if test="lastloginip != null">
        #{lastloginip,jdbcType=VARCHAR},
      </if>
      <if test="lastlogintime != null">
        #{lastlogintime,jdbcType=TIMESTAMP},
      </if>
        CURRENT_TIMESTAMP
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.ce.services.account.entity.User">
    update user
    <set>
      <if test="username != null">
        userName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="telnumber != null">
        telNumber = #{telnumber,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="orgid != null">
        orgId = #{orgid,jdbcType=VARCHAR},
      </if>
      <if test="orgname != null">
        orgName = #{orgname,jdbcType=VARCHAR},
      </if>
      <if test="usertype != null">
        userType = #{usertype,jdbcType=TINYINT},
      </if>
      <if test="avatar != null">
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=TINYINT},
      </if>
      <if test="lastloginip != null">
        lastLoginIp = #{lastloginip,jdbcType=VARCHAR},
      </if>
      <if test="lastlogintime != null">
        lastLoginTime = #{lastlogintime,jdbcType=TIMESTAMP},
      </if>
      <if test="regtime != null">
        regTime = #{regtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.ce.services.account.entity.User">
    update user
    set userName = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      telNumber = #{telnumber,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      orgId = #{orgid,jdbcType=VARCHAR},
      orgName = #{orgname,jdbcType=VARCHAR},
      userType = #{usertype,jdbcType=TINYINT},
      avatar = #{avatar,jdbcType=VARCHAR},
      state = #{state,jdbcType=TINYINT},
      lastLoginIp = #{lastloginip,jdbcType=VARCHAR},
      lastLoginTime = #{lastlogintime,jdbcType=TIMESTAMP},
      regTime = #{regtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>